@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700);

body {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 16px;
  background:pink;
}
.c{
  display:inline;
}

.map {
  height: 805px;
  width: 100%;
  margin: 10px 0px 0 0;
}

.docs {
  margin: 0px 0;
}

h5 {
  margin: 0px 0 0px 0;
  padding: 0;
  font-weight: bold;
}

input {
/*按鈕上方與map間距-按鈕右邊間的空隙-按鈕下方-按鈕左邊間的空隙*/
  margin: 10px 0 0 0;
}

legend {
  margin: 0;
}

td {
  padding: 0px;
}
